<div id="lower">
<h2>取引先一覧</h2>
<table class="ichiran">
	<tbody>
        <tr>
		<th>選択</th>
		<th>商談回数</th>
		<th>活動回数</th>
		<th>重要度</th>
		<th>会社名</th>
		<th>リードソース</th>
		<th>分類</th>
		<th>名称</th>
		<th>都道府県</th>
		<th>市区町村</th>
		<th>ビル名</th>
		<th>登録日</th>
	    </tr>


<% @customertypes.each do |c| %>
<tr>
	<td>
      <%= link_to '詳細', :controller => 'search', :action => 'show', :id => c.customer.id %>
	</td>
	<td>
		１０
	</td>
	<td>
		３０
	</td>
	<td>
		<%= priority_name(c.customer.priority) %>
	</td>
	<td>
	   <%= c.customer.name %>
	</td>
	<td>
		<%= leadsource_name(c.customer.leadsource) %>
	</td>
	<td>
		<%= customer_type_cd_name(c.customer_type) %>
	</td>
	<td>
		<%= c.customer_type_name %>
	</td>
	<td>
		<%= prefecture_name(c.prefecture_cd) %>
	</td>
	<td>
		<%= c.city %><%= c.oaza %><%= c.town %>
	</td>
	<td>
	    <%= c.building_name %>
	</td>
	<td>
		<%= c.created_at.localtime.strftime("%Y-%m-%d %H:%M") %>
	</td>
</tr>
<% end %>
    </tbody>
</table>
</div>