<p id="notice"><%= notice %></p>
			<div id="kihon_shousai">
            <%= form_for @customer, :url => {:action => 'update'} do |f| %>
				<h1>詳細</h1>
				<p class="btn"><%= f.submit :value => '更新' %><input type="button" value="削除"></p>
				<h2>基本情報</h2>
			<table>
			<tbody>
            <tr>
				<td>
					<p class="name">会社名</p>
					<p class="area"><%= f.text_field :name, :maxlength => 20, :size => 50 %></p>
				</td>
				<td>
					<p class="name">リードソース</p>
					<p class="area">
                        <%= f.select:leadsource, leadsource_options %>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="name">会社電話番号</p>
					<p class="area"><%= f.text_field :tel_number, :maxlength => 20, :size => 50  %></p>
				</td>
				<td>
					<p class="name">会社FAX番号</p>
					<p class="area"><%= f.text_field :fax_number, :maxlength => 20, :size => 50  %></p>
				</td>
			</tr>
			<tr>
				<td>
					<p class="name">WEBサイト</p>
					<p class="area"><%= f.text_field :website, :maxlength => 20, :size => 50  %></p>
				</td>
				<td>
					<p class="name">重要度</p>
					<p class="area">
                      <%= f.select:priority, priority_options  %>
                    </p>
				</td>
			</tr>
			</tbody>
            </table>
<% end %>
			</div>


			<div id="shozai">
				<h2>所在地一覧　<input type="button" value="一覧表示"><input type="button" value="GoogleMAPで表示" id="google_map_button"></h2>
				<table class="ichiran">
					<tbody><tr>
						<th>選択</th>
						<th>分類</th>
						<th>名称</th>
						<th>郵便番号</th>
						<th>都道府県</th>
						<th>市区町村</th>
						<th>大字</th>
						<th>丁目・番地</th>
						<th>ビル名</th>
					</tr>
                    <% @customertypes.each do |c| %>
					<tr>
						<td>
                          <%= link_to '詳細', :controller => 'customers', :action => 'edit', :id => c.customer.id %>
						</td>
						<td>
							<%= customer_type_cd_name(c.customer_type) %>
						</td>
						<td>
							<%= c.customer_type_name %>
						</td>
						<td>
							<%= c.zip_number %>
						</td>
						<td>
							<%= prefecture_name(c.prefecture_cd) %>
						</td>
						<td>
							<%= c.city %>
						</td>
						<td>
							<%= c.oaza %>
						</td>
						<td>
                          <%= c.town %>
						</td>
						<td>
                          <%= c.building_name %>
						</td>
					</tr>
                    <% end %>
				</tbody></table>
			</div>


			<div id="renrakusaki">
				<h2>連絡先一覧　<input type="button" value="一覧表示"></h2>
				<table class="ichiran">
					<tbody><tr>
						<th>選択</th>
						<th>部署名</th>
						<th>名前</th>
						<th>フリガナ</th>
						<th>会社電話番号</th>
						<th>携帯電話</th>
						<th>FAX</th>
						<th>E-mail</th>
						<th>職位</th>
						<th>誕生日</th>
						<th>家族構成</th>
						<th>趣味</th>
					</tr>
					<tr>
						<td>
							<a href="shozaihenshuu.html">詳細</a>
						</td>
						<td>
							ｘｘ事業部
						</td>
						<td>
							山田太郎
						</td>
						<td>
							ヤマダタロウ
						</td>
						<td>
							03-0000-0000
						</td>
						<td>
							090-0000-0000
						</td>
						<td>
							03-0000-0000
						</td>
						<td>
							aa@a.a
						</td>
						<td>
							社長
						</td>
						<td>
							1970/1/1
						</td>
						<td>
							嫁、長女、長男
						</td>
						<td>
							釣り
						</td>
					</tr>
				</tbody></table>
			</div>


			<div id="shoudan">
				<h2>商談一覧　<input type="button" value="一覧表示"></h2>
				<table class="ichiran">
					<tbody><tr>
						<th>選択</th>
						<th>商談名</th>
						<th>商談日</th>
						<th>名称</th>
						<th>顧客担当者</th>
						<th>自社担当者</th>
						<th>受注有無</th>
						<th>受注確度</th>
						<th>受注商品名</th>
						<th>受注量</th>
						<th>受注額</th>
					</tr>
					<tr>
						<td>
							<a href="shozaihenshuu.html">詳細</a>
						</td>
						<td>
							ｘｘ
						</td>
						<td>
							2011/12/17
						</td>
						<td>
							千葉県ｘｘコース
						</td>
						<td>
							田中一郎
						</td>
						<td>
							宍戸路子
						</td>
						<td>
							有
						</td>
						<td>
							100%
						</td>
						<td>
							ｘｘ砂
						</td>
						<td>
							１００ｋｇ
						</td>
						<td>
							１００万円
						</td>
					</tr>
				</tbody></table>
			</div>


			<div id="katudou">
				<h2>活動一覧　<input type="button" value="一覧表示"></h2>
				<table class="ichiran">
					<tbody><tr>
						<th>選択</th>
						<th>活動名</th>
						<th>活動日</th>
						<th>対応者</th>
						<th>顧客担当者</th>
					</tr>
					<tr>
						<td>
							<a href="shozaihenshuu.html">詳細</a>
						</td>
						<td>
							ｘｘ社への営業活動
						</td>
						<td>
							2011/12/17
						</td>
						<td>
							吉田花子
						</td>
						<td>
							田中一郎
						</td>
					</tr>
				</tbody></table>
			</div>
