<%= form_for(@customer) do |f| %>
  <h2>基本情報</h2>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="name">
    会社名
  </p>
  <p class="area">
    <%= f.text_field :name, :maxlength => 20, :size => 50 %>
  </p>
  <p class="name">
    会社名カナ
  </p>
  <p class="area">
    <%= f.text_field :kana, :maxlength => 20, :size => 50 %>
  </p>
  <p class="name">
    会社電話番号
  </p>
  <p class="area">
    <%= f.text_field :tel_number, :maxlength => 15, :size => 15 %>
  </p>
  <p class="name">
    会社FAX番号
  </p>
  <p class="area">
    <%= f.text_field :fax_number, :maxlength => 15, :size => 15 %>
  </p>
  <p class="name">
    WEBサイト
  </p>
  <p class="area">
    <%= f.text_field :website, :maxlength => 250, :size => 50 %>
  </p>
  <p class="name">
    リードソース
  </p>
  <p class="area">
    <%= f.select:leadsource, leadsource_options %>
  </p>
  <p class="name">
    進捗状態
  </p>
  <p class="area">
    <%= f.select:status, status_options %>
  </p>
  <p class="name">
    重要度
  </p>
  <p class="area">
    <%= f.select:priority, priority_options %>
  </p>
    <h2>取引先所在</h2>
    <% @customer_types.each do |c| %>
    <p class="btn"><input type="button" value="住所追加"><input type="reset" value="クリア"></p>
    <p class="name">
      <%= select_tag(:customer_type, options_for_select(customer_type_options, :selected => c.customer_type)) %>
    </p>
    <p class="name">名称</p>
    <p class="area">
      <input type="text" name="customer_type_name" size="50" maxlength="20" value="<%= c.customer_type_name %>">
    </p>
    <p class="name">郵便番号</p>
    <p class="area">
      <input type="text" id="input_zip_number" name="zip_number" size="10" maxlength="7" value="<%= c.zip_number %>">
      <input type="button" id="lookup" value="住所検索">
      </p>
    <p class="name">都道府県</p>
    <p class="area">
      <%= select_tag(:prefecture_cd, grouped_options_for_select(prefecture_group_options, :selected => c.prefecture_cd), :class => 'pref')  %>
    </p>
    <p class="name">市区町村</p>
    <p class="area">
      <input type="text" id="input_city" name="city" size="50" maxlength="20" value="<%= c.city %>">
      </p>
    <p class="name">大字</p>
    <p class="area">
      <input type="text" name="oaza" size="50" maxlength="20" value="<%= c.oaza %>">
      </p>
    <p class="name">丁目・番地</p>
    <p class="area">
      <input type="text" name="town" size="50" maxlength="20" value="<%= c.town %>">
      </p>
    <p class="name">ビル名</p>
    <p class="area">
      <input type="text" name="building_name" size="50" maxlength="20" value="<%= c.building_name %>">
      </p>
    <p class="name">写真アップロード</p>
    <p class="area">
      <input type="text" name="name" size="50" maxlength="20"><input type="button" value="参照">
      </p>
    <p class="name">
      メモ
    </p>
    <p class="area">
      <textarea name="customer_type_memo" rows="5" cols="42"><%= c.customer_type_memo %></textarea>
    </p>
        <input type="hidden" name="customer_type_id" value="<%= c.id %>">
        <% end %>
  <p class="btn">
    <%= f.submit :value => '登録' %>
    <input type="reset" value="リセット">
  </p>
<% end %>
<script type="text/javascript"
    src="http://developmentor.lrlab.to/postal/js/postalua.js">
</script>
<script type="text/javascript">
(function() {
    $('#lookup').click(function() {
        $.lookup($('#input_zip_number').val(), function(res) {
            var prefectureName = "";
            var city = "";
            $.each(res, function() {
                var locations = this.a.split(" ");
                for (var i = 0; i < locations.length; i++) {
                    if (i === 0) {
                        prefectureName = locations[i];
                    }
                    else {
                        city += locations[i];
                    }
                }
            });

            var newValue = "";
            $("#prefecture_cd option").each(function() {
                if (this.selected) {
                    console.log(this);
                    $(this).selected = false;
                }
                if (prefectureName === this.label) {
                    newValue = this.value;
                    console.log($('#prefecture_cd').val());
                    $('#prefecture_cd').val(this.value);
                    $(this).selected = true;
                    //$("#prefecture_cd").jQselectable({
                    //    selectedIndex: 1
                    //});
                }
            });
            $('#input_city').val("");
            $('#input_city').val(city);
        });
    });
})();
</script>
