<%= form_for(@customer) do |f| %>
  <h2>基本情報</h2>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="name">
    会社名
  </p>
  <p class="area">
    <%= f.text_field :name, :maxlength => 20, :size => 50 %>
  </p>
  <p class="name">
    会社名カナ
  </p>
  <p class="area">
    <%= f.text_field :kana, :maxlength => 20, :size => 50 %>
  </p>
  <p class="name">
    会社電話番号
  </p>
  <p class="area">
    <%= f.text_field :tel_number, :maxlength => 15, :size => 15 %>
  </p>
  <p class="name">
    会社FAX番号
  </p>
  <p class="area">
    <%= f.text_field :fax_number, :maxlength => 15, :size => 15 %>
  </p>
  <p class="name">
    WEBサイト
  </p>
  <p class="area">
    <%= f.text_field :website, :maxlength => 250, :size => 50 %>
  </p>
  <p class="name">
    <%= f.label :leadsource %>
  </p>
  <p class="area">
    <%= f.text_field :leadsource %>
  </p>
  <p class="name">
    <%= f.label :status %>
  </p>
  <p class="area">
    <%= f.text_field :status %>
  </p>
  <p class="name">
    <%= f.label :priority %>
  </p>
  <p class="area">
    <%= f.text_field :priority %>
  </p>
  <p class="name">
      <%= f.label :memo %>
  </p>
  <p class="area">
      <%= f.text_field :memo %>
  </p>
  <p class="btn">
    <%= f.submit :value => '登録' %>
    <input type="reset" value="リセット">
  </p>
<% end %>
