<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Name kana</th>
    <th>Tel number</th>
    <th>Fax number</th>
    <th>Website</th>
    <th>Leadsource</th>
    <th>Status</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.name_kana %></td>
    <td><%= customer.tel_number %></td>
    <td><%= customer.fax_number %></td>
    <td><%= customer.website %></td>
    <td><%= customer.leadsource %></td>
    <td><%= customer.status %></td>
    <td><%= customer.priority %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
