<!DOCTYPE html>
<html>
<head>
  <title>Crm</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
  div.middle {
      display: none;
  }
</style>
<body>
<div id="container">
	<div id="header">
		<div id="gnavi">
		    <ul>
		        <li><a href="/customers/new"><img width="90" height="33" src="/assets/1.png"></a>
		        </li><li><a href="/search"><img width="90" height="33" src="/assets/2.png"></a>
		        </li><li><a href="/users"><img width="90" height="33" src="/assets/3.png"></a>
		        </li>
            </ul>
		</div>
	</div>

	<div id="wrapper">
      <div id="upper">
	<h1>検索</h1>
	<h2>検索対象</h2>
	<p class="name"></p>
	<p class="area">
      <%= select_tag(:select_menu, options_for_select([['取引先', '1'],['連絡先', '2'],['商談', '3'], ['活動', '4']],
                                                      :selected => @search[:select_menu])) %>
    </p>
</div>

<div class="middle" id="customer_search">
<h2>検索条件</h2>
<p></p>
    <%= form_tag :action => 'search' do |f| %>
    <input type="hidden" name="select_menu" value="<%= @search[:select_menu] %>">
    <p></p>
<table>
<tbody><tr>
	<td>
		<p class="name">会社名</p>
		<p class="area">
          <input type="checkbox" value="その1" name="q1">
          <input type="text" maxlength="20" size="50" name="name" value="<%= @search[:name] %>">
        </p>
	</td>
	<td>
		<p class="name">リードソース</p>
		<p class="area"><input type="checkbox" value="その1" name="q1">
            <%= select_tag(:leadsource, options_for_select(leadsource_options, :selected => @search[:leadsource])) %>
		</p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">分類</p>
			<p class="area">
              <input type="checkbox" value="その1" name="q1">
              <%= select_tag(:customer_type, options_for_select(customer_type_options, :selected => @search[:customer_type])) %>
            </p>
	</td>
	<td>
		<p class="name">名称</p>
		<p class="area"><input type="checkbox" value="その1" name="q1">
        <input type="text" maxlength="20" size="50" name="customer_type_name" value="<%= @search[:customer_type_name] %>"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">都道府県</p>
		<p class="area">
          <input type="checkbox" value="その1" name="q1">
          <%= select_tag(:prefecture_cd, options_for_select(prefecture_options, :selected => @search[:prefecture_cd])) %>
        </p>
	</td>
	<td>
		<p class="name">市区町村</p>
		<p class="area"><input type="checkbox" value="その1" name="q1">
        <input type="text" maxlength="20" size="50" name="city_oaza_town" value="<%= @search[:city_oaza_town] %>"></p>
	</td>
</tr>
<tr>
	<td>
		<p class="name">ビル名</p>
		<p class="area">
          <input type="checkbox" value="その1" name="q1">
          <input type="text" maxlength="20" size="50" name="building_name" value="<%= @search[:building_name] %>">
        </p>
	</td>
</tr>
<tr>
	<td>
		<p class="btn">
          <input type="submit" value="検索" >
          </p>
	</td>
</tr>
</tbody>
</table>
<% end %>
</div>

<div class="middle" id="contact_search" >
  <h2>検索条件</h2>
  <p></p>
  <%= form_tag :action => 'contact_search' do |f| %>
      <input type="hidden" name="select_menu" value="<%= @search[:select_menu] %>">
      <p></p>
      <table>
        <tbody><tr>
          <td>
            <p class="name">会社名</p>
            <p class="area">
              <input type="checkbox" value="その1" name="q1">
              <input type="text" maxlength="20" size="50" name="name" value="<%= @search[:name] %>">
            </p>
          </td>
          <td>
            <p class="name">名称</p>
            <p class="area"><input type="checkbox" value="その1" name="q1">
              <input type="text" maxlength="20" size="50" name="customer_type_name" value="<%= @search[:customer_type_name] %>"></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="name">名前</p>
            <p class="area"><input type="checkbox" value="その1" name="q1">
              <input type="text" maxlength="20" size="50" name="contact_name" value="<%= @search[:contact_name] %>"></p>
          </td>
          <td>
            <p class="name">フリガナ</p>
            <p class="area"><input type="checkbox" value="その1" name="q1">
              <input type="text" maxlength="20" size="50" name="contact_name_kana" value="<%= @search[:contact_name_kana] %>"></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="name">誕生日</p>
            <p class="area">
              <input type="checkbox" value="その1" name="q1">
              <%= raw date_select_jp('contact', 'birthday', :start_year => 1900,
                                     :use_month_numbers => true, :include_blank => true) %>
            </p>
          </td>
          <td>
            <p class="name">職位</p>
            <p class="area"><input type="checkbox" value="その1" name="q1">
              <input type="text" maxlength="20" size="50" name="position" value="<%= @search[:position] %>"></p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="name">趣味</p>
            <p class="area">
              <input type="checkbox" value="その1" name="q1">
              <input type="text" maxlength="20" size="50" name="favorite" value="<%= @search[:favorite] %>">
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="btn">
              <input type="submit" value="検索" >
            </p>
          </td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>
      <%= yield %>
	</div>
</div>
</body>
</html>
<script type="text/javascript">
  var selectMenu = $('select#select_menu').val();
  console.log("selectMenu : " + selectMenu);
  if (selectMenu === '' || selectMenu === '1') {
      $('#customer_search').css('display', 'block');
  }
  else if (selectMenu === '2') {
      $('#contact_search').css('display', 'block');
  }

  $('#contact_birthday_1i').val(<%= @search[:birthday_year] %>);
  $('#contact_birthday_2i').val(<%= @search[:birthday_month] %>);
  $('#contact_birthday_3i').val(<%= @search[:birthday_day] %>);


  $('select#select_menu').change(function() {
      var menu_val = $(this).val();
      $("input[name='select_menu']").val(menu_val);
      $('div.middle').css('display', 'none');
      $('div#lower').css('display', 'none');
      if (menu_val === '1') {
          $('#customer_search').css('display', 'block');
      }
      else if (menu_val === '2') {
          $('#contact_search').css('display', 'block');
      }
  });
</script>